<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    <div class="col-xs-12 col-sm-4 col-md-3 no-print">
      <span class="profile-img" style="background-image: url({{ site.data.about.profile_image | relative_url }})" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
      {{ site.data.about.content | strip | markdownify }}

      <div class="toolbox-container">
        <h4 class="toolbox-title">{{ site.data.about.toolbox_title | strip }}</h4>
        {% for item in site.data.about.simple_toolbox %}
        <p class="toolbox-item">{{ item | strip }}</p>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
