<header class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.author | escape }}</h1>
      <h2>{{ site.data.about.description | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.data.about.social.facebook -%}
        <li>
          <a target="_blank" href="https://www.facebook.com/{{ site.data.about.social.facebook| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-facebook" title="Facebook link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.github -%}
        <li>
          <a target="_blank" href="https://github.com/{{ site.data.about.social.github| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-github" title="Github link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.linkedin -%}
        <li>
          <a target="_blank"
            href="https://www.linkedin.com/in/{{ site.data.about.social.linkedin| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-linkedin" title="Linkedin link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.twitter -%}
        <li>
          <a target="_blank" href="https://twitter.com/{{ site.data.about.social.twitter| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-twitter" title="Twitter link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.youtube -%}
        <li>
          <a target="_blank" href="https://www.youtube.com/{{ site.data.about.social.youtube| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-youtube-play" title="Youtube link"></i>
          </a>
        </li>
        {%- endif -%}
      </ul>

      {%- if site.data.about.website -%}
      <div class="only-print">
        <img
          src="https://zxing.org/w/chart?cht=qr&chs=120x120&chld=H&choe=UTF-8&chl={{ site.data.about.website | url_encode }}"
          alt="qr code" class="cropped-qr" />
        <p> {%- include a.html href=site.data.about.website -%} </p>
      </div>
      {%- endif -%}
      {%- if site.data.about.email -%}
      <p> Email: <a href="mailto:{{ site.data.about.email }}" target="_blank">{{ site.data.about.email | escape }}</a>
      </p>
      {%- endif -%}
      {%- if site.data.about.address -%}
      <p> Residenza: {{ site.data.about.address | escape }} </p>
      {%- endif -%}
      {%- if site.data.about.phone -%}
      <p> Telefono: {{ site.data.about.phone | escape }} </p>
      {%- endif -%}
      <!-- TODO add direct download link -->
      <!-- <a href="javascript:document.title='CV - '+document.title;window.print()"> <i class="fa fa-print"></i> </a> -->

    </div>
  </div>
</header>
