<header class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.data.about.social.dribbble -%}
        <li>
          <a target="_blank" href="https://dribbble.com/{{ site.data.about.social.dribbble| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-dribbble" title="Dribble link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.facebook -%}
        <li>
          <a target="_blank" href="https://www.facebook.com/{{ site.data.about.social.facebook| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-facebook" title="Facebook link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.flickr -%}
        <li>
          <a target="_blank"
            href="https://www.flickr.com/photos/{{ site.data.about.social.flickr| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-flickr" title="Flickr link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.github -%}
        <li>
          <a target="_blank" href="https://github.com/{{ site.data.about.social.github| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-github" title="Github link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.instagram -%}
        <li>
          <a target="_blank"
            href="https://www.instagram.com/{{ site.data.about.social.instagram| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-instagram" title="Instagram link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.linkedin -%}
        <li>
          <a target="_blank"
            href="https://www.linkedin.com/in/{{ site.data.about.social.linkedin| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-linkedin" title="Linkedin link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.xing -%}
        <li>
          <a target="_blank" href="https://www.xing.com/profile/{{ site.data.about.social.xing| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-xing" title="Xing link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.pinterest -%}
        <li>
          <a target="_blank"
            href="https://www.pinterest.com/{{ site.data.about.social.pinterest| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-pinterest" title="Pintrest link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.twitter -%}
        <li>
          <a target="_blank" href="https://twitter.com/{{ site.data.about.social.twitter| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-twitter" title="Twitter link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.youtube -%}
        <li>
          <a target="_blank" href="https://www.youtube.com/{{ site.data.about.social.youtube| cgi_escape | escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-youtube-play" title="Youtube link"></i>
          </a>
        </li>
        {%- endif -%}
        {%- if site.data.about.social.googleplus -%}
        <li>
          <a target="_blank" href="https://plus.google.com/{{ site.data.about.social.googleplus| escape }}"
            class="button button--sacnite button--round-l">
            <i class="fa fa-google-plus" title="Google plus link"></i>
          </a>
        </li>
        {%- endif -%}
      </ul>

      {%- if site.website -%}
      <img src="https://zxing.org/w/chart?cht=qr&chs=120x120&chld=H&choe=UTF-8&chl={{ site.website | url_encode }}"
        alt="qr code" class="only-print cropped-qr" />
      <p class="only-print"> Website: {%- include a.html href=site.website -%} </p>
      {%- endif -%}
      {%- if site.email -%}
      <p> Email: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a> </p>
      {%- endif -%}
      {%- if site.address -%}
      <p> Address: {{ site.address | escape }} </p>
      {%- endif -%}
      {%- if site.phone -%}
      <p> Phone: {{ site.phone | escape }} </p>
      {%- endif -%}
    </div>
  </div>
</header>
